@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root {
    --bg-color: #ffffff;
    --bg2-color: #e1f4f3;
    --text-color: #333333;
    --third-color: #706c61;

}

body {
    margin: 0;
    padding: 2em 1em;
    ;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);

}


h1 {
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    line-height: 1.5;
    background: #ebebeb5e;
    padding: 1rem;
    box-shadow: 0 1px 3px .5px rgba(0, 0, 0, 0.09);
    transition: box-shadow ease-in-out 0.3s ;
}



ul li:hover {
    box-shadow: 0 3px 6px .5px rgba(0, 0, 0, 0.15);
}

ul li .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em 1em .2em 0;
    opacity: .7;
    margin-top: 1.8rem;
}


span.date {
    opacity: .6;
}

header {
    padding: 1rem 0;
    margin-bottom: 1em;    
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

a:hover {
    color: blueviolet;
}

a:active,
a:focus {
    outline: none;
}


a.news {
    background: var(--third-color);
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: .5rem;
}

a.about {
    padding: 5px 10px;

}





.vibe {
    background-color: var(--bg2-color);
    padding: 1.5em;
    line-height: 1.5;
    border-radius: 5px;
    text-align: center;
}

div.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    line-height: 1.5;
}


footer {
    opacity: .7;
    font-size: smaller;
    text-align: center;
}